#jota{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items:flex-start;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: chocolate;
    text-align: center;
    padding: 12px;
    width: 400px;
    height: 1100px;
    margin: 20px;
    flex: 0 1 calc(25% - 1em);
    
    
    
}

img {
    width: 300px;
}

h2{
    color: white;
}